* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.header {
    background-color: #f44336;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

.header h1 {
    margin: 0;
}

.navigation ul {
    list-style: none;
    background-color: #333;
    text-align: center;
    padding: 0.5rem 0;
}

.navigation ul li {
    display: inline;
    margin-right: 10px;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    display: flex;
    padding: 1rem;
}

.content {
    flex: 3;
    margin-right: 1rem;
}

.sidebar {
    flex: 1;
    background: #f4f4f4;
    padding: 1rem;
}

.sidebar h4 {
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.post {
    margin-bottom: 1rem;
}

.post
